  <div class = "header">
    <div class="logo">
      <%= link_to image_tag("/images/logo_arch_tips.png", class:"logo-image"), root_path %>
      <h2 class="top-text">Arch_Tips</h2>
    </div>
  </div>